.App {
    width: 100vw;
    height: 100%;
    font-size: 16px;
}


/*header bar styling*/

.header {
    text-align: center;
    position: fixed;
    padding: .5em;
    height: 3em;
    background-color: rgb(4, 156, 131);
    width: 100vw;
    z-index: 1;
    border-bottom: 4px solid rgba(0, 0, 0, 0.2);
}

.home-link {
    position: absolute;
    top: 1em;
    left: .5em;
    font-size: 80%;
}

.info-link {
    position: absolute;
    top: .5em;
    left: 1em;
    height: 100%;
}

.app-title {
    font-size: 60%;
    color: lightgoldenrodyellow;
}

.logout-link {
    position: absolute;
    top: .7em;
    right: .5em;
    font-size: 80%;
    color: white;
}

.home-link a,
.info-link a,
.logout-link a {
    color: white;
}


/*footer bar styling*/

.footer {
    position: fixed;
    bottom: 0;
    left: 0;
    padding: .5em;
    height: 3em;
    width: 100vw;
    background-color: rgb(4, 156, 131);
    z-index: 1;
    border-top: 4px solid rgba(0, 0, 0, 0.2);
}

.footer a {
    color: white;
}

.moodlog-link {
    position: absolute;
    bottom: 1em;
    left: 1em;
    font-size: 80%;
}

.footer-info-link {
    position: absolute;
    bottom: .7em;
    right: 1em;
}


/*landing page styling*/

.landing-page {
    padding: .5em;
    text-align: center;
    padding-top: 10vh;
    height: 100%;
}

.landing-welcome {
    font-size: 7vw;
    margin-bottom: 0;
}

.landing-tagline {
    font-size: 6vw;
    margin-top: 0;
}

.landing-description {
    font-size: 4vw;
    font-style: italic;
}

.landing-purpose {
    font-size: 5vw;
}

.landing-bullets {
    font-size: 3.5vw;
    width: 90%;
    max-width: 600px;
    margin: auto;
    text-align: left;
}

.landing-action-call {
    font-size: 8vw;
    margin-bottom: 0;
    margin-top: 4vh;
}

.landing-links {
    font-size: 7vw;
    margin-top: 3vh;
}

.landing-link-login {
    margin-right: 4vw;
}

.landing-link-signup {
    margin-left: 4vw;
}


/* login styling */

.login {
    padding-top: 4em;
}


/* signup styling */

.signup {
    padding-top: 4em;
}


/*dashboard page styling*/

.dashboard {
    text-align: center;
    padding-top: 10vh;
}

.dashboard-greeting {
    margin-top: 4vh;
}

.dashboard-greeting h1 {
    font-size: 12vw;
    color: white;
}

.dashboard-greeting h2 {
    font-size: 7vw;
    color: white;
}

.circle-container {
    height: 60vw;
    width: 60vw;
    margin: auto;
    margin-top: 10vh;
}

.circle {
    background-color: rgb(4, 156, 131);
    border: 4px solid rgb(4, 141, 118);
    border-radius: 50%;
    height: 100%;
    width: 100%;
    box-shadow: 2px 2px 4px 4px rgba(0, 0, 0, 0.3);
}

.dashboard-question-text {
    font-size: 7vw;
    margin-top: 5vw;
    color: lightgoldenrodyellow;
}


/* mood nav styling */

.mood-nav {
    text-align: center;
}

.fixed {
    position: fixed;
    padding: 8vw;
}


/* mood select styling */

.mood-select-container {
    text-align: center;
    max-width: 600px;
    margin: auto;
    padding-bottom: 3em;
}

.sticky {
    position: sticky; 
    top: 3em;
}

.mood-select-container hr {
    color: black;
    margin-bottom: 2vh;
    margin-top: -2vh;
}

.mood-choice-container input {
    font-weight: bold;
}

.mood-choice-container {
    display: flex;
    text-align: center;
}

.mood-choice-container:hover {
    background-color: rgba(0, 0, 0, 0.4);
}

.mood-img {
    height: 10vw;
    width: 10vw;
}

.mood-text {
    font-size: 6vw;
    font-weight: bold;
}

.intensity-label {
    font-size: 5vw;
    font-weight: bold;
    margin-top: -2vw;
}


/* notes component styling */

.note-area {
    width: 90%;
    max-width: 600px;
    padding: .5em;
    border-radius: .5em;
    min-height: 40vh;
    height: auto;
    box-shadow: 1px 2px 2px 2px rgba(0,0,0,.4);
}

.mood-recap {
    float: left;
    padding: .5em;
}

.intensity-recap {
    margin-left: .25em;
    border-radius: 50%;
    padding-left: .5em;
    padding-right: .5em;
    padding-top: .25em;
    padding-bottom: .25em;
    border: 1px solid goldenrod;
    background-color: goldenrod;
}

.selected-moods-container {
    text-align: center;
    padding: .5em;
}


/* confirmation styling */

.user-note-confirm {
    width: 90%;
    max-width: 600px;
    padding: .5em;
    border-radius: .5em;
    min-height: 40vh;
    height: auto;
    word-wrap: break-word;
    background-color: white;
    box-shadow: 1px 2px 2px 2px rgba(0,0,0,.4);
    text-align: left;
}


/* mood confirmation styling */

.mood-confirm {
    width: 90%;
    max-width: 600px;
    text-align: left;
    margin-left: auto;
    margin-right: auto;
}


/* mood log styling */

.mood-log {
    padding-top: 10vh;
    padding-bottom: 10vh;
    font-size: 3.75vw;
   
}

.mood-log li {
    list-style: none;
    text-align: left;
    width: 95%;
  
}

.mood-log li:hover {
    background-color: rgba(0,0,0,.4);
  
}

.line-entry {
    position: relative;
    border-bottom: 2px solid grey;
    margin-top: 1vh;
    padding: 1vw;

}

.delete-entry {
    position: absolute;
    top: 0;
    right: 1em;
    width: 9vw;
    height: auto;
    padding: .5em;
    font-size: 4vw;
    border-radius: .5em;
    background: radial-gradient(circle, rgb(252, 172, 172), rgb(241, 70, 70), red);
    box-shadow: 1px 2px 2px rgba(0, 0, 0, 0.5);
    border: none;
}


/* delete modal */

.delete-modal {
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, .5);
    position: fixed;
    top: 0;
    left: 0;
    z-index: 5;
    overflow-y: hidden;
}

.modal-container {
    margin: auto;
    margin-top: 25vh;
    width: 70vw;
    height: 60vw;
    background-color: white;
    border-radius: .5em;
    padding: 5%;
    box-shadow: 2px 4px 4px 6px rgba(0, 0, 0, .5);
}

.modal-container h1 {
    font-size: 4.5vw;
}

.modal-container button {
    margin-top: 10vh;
    margin-left: 3vw;
    margin-right: 3vw;
    width: 12vw;
    padding: .5em;
    font-size: 3vw;
    border: none;
    border-radius: .5em;
    background-color: goldenrod;
    box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, .5);
}